################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/InputSimulator.1.0.4.0
/RPAuto/bin
/RPAuto/obj
